<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>XSS</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div>
	<form method="POST" action="{{ url_for('index') }}">
		<input class='title' type="text" name="title" placeholder="Input Title">
		<textarea class='content' rows="20" cols="10" name="content"></textarea>
		<button type="submit">Submit</button>
	</form>
	<ul>
	    {% for content in contents %}
	        <li>
	            <h2>{{ content.title }}</h2>
	            <p>{{ content.content }}</p>
	        </li>
	    {% endfor %}
	</ul>
</div>
</body>
</html>